[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jdl031/hugo-theme-codex.git
	branch = master
[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/jdl031/hugo-theme-codex.git
	branch = master

[codex "themes/codex"]
	branch = master
[codex "themes/hugo-theme-codex"]
	branch = master
